@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: url(../image/cursor.png), auto;
    
}
body{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

#myVideo{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -100;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background: rgba(39, 39, 39, 0.4);
}
.nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(39,39,39, 0.6), transparent);
    z-index: 100;
}
.nav-logo p{
    color: white;
    font-size: 25px;
    font-weight: 600;
}
.nav-menu ul{
    display: flex;
}
.nav-menu ul li{
    list-style-type: none;
}
.nav-menu ul li .link{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 10px;
    margin: 0 25px;
}
.link:hover, .active{
    border-bottom: 2px solid #fff;
}
.nav-button .btn{
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}
.btn:hover{
    background: rgba(255, 255, 255, 0.3);
}
#registerBtn{
    margin-left: 15px;
}
.btn.white-btn{
    background: rgba(255, 255, 255, 0.7);
}
.btn.btn.white-btn:hover{
    background: rgba(255, 255, 255, 0.5);
}
.nav-menu-btn{
    display: none;
}

/* Container Box */

.container{
    margin-left: 373px;
    margin-top: 120px ;
    width: 47%;
    height: 522px;  
    padding-left: 50px;
    background: rgba(145, 145, 145, 0.194);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding-top: 15px;
}

.container h2{
    color: #fff;
    margin-bottom: 20px;
    margin-top: 10px;
}

.two-forms{
    display: flex;
    gap: 10px;
}

.input-field{
    font-size: 15px;
    background: rgba(255, 255, 255, 0.265);
    color: #fff;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}

.input-submit-box{
    font-size: 15px;
    background: rgba(255, 255, 255, 0.265);
    color: #fff;
    height: 50px;
    width: 120px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
    align-items: center;
    justify-content: center;
    margin-left: 160px;
}

.input-box i{
    position: relative;
    top: -35px;
    left: 17px;
    color: #fff;
}

.input-box{
    width: 280px;
    margin-inline-end: 30px;
}

.input-field::placeholder {
    color: rgb(255, 255, 255); /* You can adjust the opacity as needed */
}

.categorySelect{
    color: #fff;
}
.radiobtn{
    font-size: 1rem;
    margin-left: 20px;
}


.linebar{
    width: 610px;
    height: 1px;
    background: #ffffffa0;
    margin-bottom: 15px;
    
}

.linebar2{
    height: 150px;
    width: 1px;
    background: #ffffffa0;
    margin-top: 18px;
    margin-left: 15px;
}
/* Try */

.radio-tile-group h4{
    font-weight: 500;
    color: #fff;
    padding-top: 25px;
    margin-right: 20px;
}
.radio-tile-group {
    display: flex;
    flex-wrap: wrap;

  }
  
  .input-container {
    position: relative;
    height: 4rem;
    width: 4rem;
    margin: 1.2rem;
  }
  
  .input-container input {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
  }
  
  .input-container .radio-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: all 300ms ease;
  }
  
  .input-container ion-icon {
    color: #ffffff;
    font-size: 3rem;
  }
  
  .input-container label {
    color: #fff;
    font-size: 0.80rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
 
  input:hover+.radio-tile {
    color: antiquewhite;
  }
  
  input:checked+.radio-tile ion-icon,
  input:checked+.radio-tile label {
    color: #131924;
  }

  .allContent{
    display: flex;
  }

  .uploadimg{
    display: flex;
  }

  h3{
    color: #fff;
  }

  input[type=file]{
    display: none;
  }

  .uploadBtn {
    height: 100px;
    width: 150px;
    border-radius: 6px;
    font-weight: 500;
    border: 1px dashed #fff;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
  }

  .uploadBtn:hover{
    color: #131924;
    border: 1px dashed #131924;
  }



  .container1 {
	max-width: 250px;
	width: 100%;
    height: 200px;
	background: #ffffff61;
	padding: 30px;
	border-radius: 30px;
    margin-left: 57px;
}
.img-area {
	position: relative;
	width: 100%;
	height: 100px;
	background: #131924af;
	margin-bottom: 30px;
	border-radius: 15px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.img-area .icon {
	font-size: 40px;
    color: #fff;
}
.img-area h3 {
	font-size: 15px;
	font-weight: 500;
	margin-bottom: 6px;
    color: #fff;
}
.img-area p {
    font-size: 10px;
	color: #fff;
    padding-bottom: 10px;
}
.img-area p span {
	font-weight: 500;
}
.img-area img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	z-index: 100;
}
.img-area::before {
	content: attr(data-img);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	color: #fff;
	font-weight: 500;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	opacity: 0;
	transition: all .3s ease;
	z-index: 200;
}
.img-area.active:hover::before {
	opacity: 1;
}
.select-image {
	display: block;
	width: 100%;
	border-radius: 15px;
	background: var(--blue);
	color: #fff;
	font-weight: 500;
	font-size: 18px;
	border: none;
	cursor: pointer;
	transition: all .3s ease;
}
.select-image:hover {
	background: var(--dark-blue);
}
